@import './variables';

//Sidebar

.sidebar-content {
    position: fixed;
    left: 0px;
    width: 100%;
    background-color: $sidebar-bg;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;


    &.active{
        transform: translateX(0);
    }
    
    @include media-breakpoint-up(sm){
        max-width: 350px;
    }
}


//Sidebar Tabs
.nav-tabs li {
    flex-basis: 50%;
    justify-content: center;
    flex-grow: 1;
    align-items: center;

    .nav-link{
        text-align: center;

        &.active{
            background-color: transparent;
            border-bottom-color: $sidebar-bg;
        }
    }
}


//Todo List

    .todo-list {
        height: calc(100vh - 11.5rem);
        overflow-y: auto;
        position: relative;

        & > .content-box {
            min-height: 100%;
        }
    }

    .todo-list__block-header {
        padding: 8px 10px;
        background-color: #f9f9f9;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .todo-list__block-list {
        position: relative;
        padding: 0 20px;

        ul{
            padding: 10px 0;
            margin: 0px;
            list-style: none;
            position: relative;

            &:before{
                content: "";
                width: 1px;
                height: calc(100%);
                position: absolute;
                background-color: $black;
                top: 0px;
            }

            li{
                position: relative;
                padding-left: 40px;
                margin-bottom: 20px;
                padding-right: 25px;

                .custom-control {
                    position: absolute;
                    padding-left: 0;
                    left: -0.55rem;
                    top: 0%;
                    transform: translateY(0%);

                    .custom-control-label{
                        cursor: pointer;

                        &:before, &:after{
                            left: 0px;
                            border-radius: 50%;
                            border-color: #000;
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                        
                    }

                    .custom-control-input{

                        &:checked  ~ .custom-control-label::before{
                            background-color: $success;
                            border-color: $success;
                        }
                    }
                }

                .task-icon {
                    position: absolute;
                    font-size: 0.9rem;
                    left: 1.1rem;
                    top: 2px;
                    color: #ffc107;

                    &:before{
                        font-family: "fontello";
                        font-style: normal;
                        font-weight: normal;
                        display: inline-block;
                        text-decoration: inherit;
                        width: 1em;
                        margin-right: .2em;
                        text-align: center;
                        content: '\f249';
                    }

                    &.task-general:before{
                        content: '\f249';
                        color: $color3;
                    }

                    &.task-travel:before{
                        content: '\e807';
                        color: $color1;
                    }
                    &.task-home:before{
                        content: '\e80b';
                        color: $color2;
                    }
                    &.task-internet:before{
                        content: '\f26b';
                        color: $color3;
                    }
                    &.task-entertainment:before, &.task-leisure:before{
                        content: '\e80a';
                        color: $color4;
                    }
                    &.task-medical:before{
                        content: '\f0f0';
                        color: $color5;
                    }
                    &.task-shopping:before{
                        content: '\f290';
                        color: $color6;
                    }
                    &.task-work:before{
                        content: '\f0f2';
                        color: $color7;
                    }
                    &.task-play:before{
                        content: '\f1e3';
                        color: $color8;
                    }
                }

                .icon-trash {
                    position: absolute;
                    right: -18px;
                    top: -7px;
                }

                &.status-off{
                    .task{
                        text-decoration: line-through
                    }
                }
            }
        }
    }


    //No task
    .no-task {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        .ico{
            font-size: 2.5rem;
        }

        span{
            display: block;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
