
$primary-color: #4292e7;
$text-color: #fffefb;
$white: #fff;
$black: #000;
$sidebar-bg: #f2f2f2;
$btn-border-color: #5ba4f0;
$placeholder-color: #b4d5f6;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;


$color1:#001f3f;
$color2:#0074D9;
$color3:#FF851B;
$color4:#39CCCC;
$color5:#B10DC9;
$color6:#FF4136;
$color7:#85144b;
$color8:#B10DC9;
$color9:#3D9970;