<div class="todo-list">
    <div class="content-box">
        <ng-container *ngIf="historyList?.length > 0">
            <div class="todo-list__block" *ngFor="let todos of historyList">
                <div class="todo-list__block-header">
                    <span class="icon-calendar-inv">{{ todos.date | date : longDate }}</span>
                    <span class="badge badge-info">{{ getProgress(todos) +'%'}}</span>
                </div>
                <div class="todo-list__block-list">
                    <ul>
                        <app-todo-item *ngFor="let todoItem of todos.list" [todo]="todoItem"></app-todo-item>
                    </ul>
                </div>
            </div>
        </ng-container>
        <div class="no-task" *ngIf="!loader && historyList?.length == 0">
            <span class="ico icon-emo-thumbsup"></span>
            <span class="msg">No task To-Do! Good Job!!!</span>
            <span class="serious-msg">Start your day by adding task To-Do</span>
        </div>
        <app-loader [show]="loader"></app-loader>
    </div>
</div>