<!--The content below is only a placeholder and can be replaced.-->
<div class="site">
  <button class="btn btn-toggle" (click)="toggleSidebar()" [ngClass]="toggleMenu ? 'icon-left-big' : 'icon-menu'"></button>
  <div class="primary-content">
    <div class="content-box">
      <app-add-todo></app-add-todo>
    </div>
  </div>
  <div class="sidebar-content" [class.active]="toggleMenu">
    <div class="content-box">   
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
